ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
  }

body{
    text-transform: capitalize;
}

.btn-hero {
    text-transform: uppercase;
  }

  .btn-hero:hover {
    color: white;
    background: black;
  }

  nav a:hover {
    color: black;
  }
